{% extends 'base.html' %}

{% block content %}

<h1>{{workout.name}}</h1>

<ul>
  <li>{{workout.type}}</li>

  <li>Duration: {{workout.duration}} minutes</li>

  <li>{{workout.date}}</li>

  <h3>Members enrolled in class: </h3>

  {% for member in members %}

  <li>{{member.name}}</li>

  {% endfor %}

</ul>
<div>
  <a href="/bookings/book">Book a class</a>
</div>
<div>
  <a href="/workouts/{{workout.id}}/edit">Edit workout</a>
</div>
<div>
  <form action="/workouts/{{workout.id}}/delete" method="POST">
    <input type="submit" value="Delete">
  </form>
</div>
<div>
  <a href="/workouts">Return to workouts</a>
</div>


{% endblock %}