<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Special+Elite" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>Gym App</title>
</head>

<body>
  <div id=grid_container>
    <header id="header">
      <div id="left_header">
        <h1>Globo Gym</h1>
      </div>
      <div id="login">
          <input class=inputbox type="text" placeholder="Username...">
          <input class=inputbox type="text" placeholder="Password...">
        <button id="loginbutton">Log In</button>
        <button id="signupbutton">
          <a href="/members/new">Sign Up</a>
        </button>
      </div>
    </header>

    <menu id="sidemenu">
      <nav>
        <ul id="navlist">
          <li><a href="/">Home</a></li>
          <li><a href="/bookings">View Bookings</a></li>
          <li><a href="/workouts">View Workouts</a></li>
          <li><a href="/instructors">Meet the Instructors</a></li>
          <li><a href="/members">Meet the Members</a></li>
        </ul>
      </nav>
    </menu>

    <section id="blockcontent">
        {% block content %}

        {% endblock %}
    </section>
    <footer id="footer">
      <div>
        <div id="footer_lists">
          <ul>
            <h4>Our gyms</h4>
            <li>Gyms near me</li>
            <li>Memberships</li>
            <li>Fitness classes</li>
            <li>Personal trainers</li>
            <li>Corporate gym memberships</li>
          </ul>
          <ul>
            <h4>Get assistance</h4>
            <li>Help & contact</li>
            <li>Facebook</li>
            <li>Instagram</li>
            <li>Twitter</li>
            <li>LinkedIn</li>
          </ul>
          <ul>
            <h4>Company</h4>
            <li>About us</li>
            <li>Careers</li>
            <li>Globo Gym Corporate</li>
            <li>Investor Relations</li>
            <li>Globo Gym Shop</li>
            <li>Globo Gym App</li>
            <li>Statements</li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
</body>
</html>