<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>Gym App</title>
</head>

<body>
  <div id=grid_container>
    <header id="header">
      <h1>Globo Gym</h1>
      <div id="login">
        <label for="username">Username</label>
          <input type="text">
        <label for="password">Password</label>
          <input type="text">
        <button>Log In</button>
      </div>
    </header>

    <menu id="sidemenu">
      <nav>
        <ul id="navlist">
          <li><a href="/">Home</a></li>
          <li><a href="/workouts/book">Book Workout</a></li>
          <li><a href="/workouts">View Workouts</a></li>
          <li><a href="/instructors">Meet the Instructors</a></li>
          <li><a href="/members">Meet the Members</a></li>
        </ul>
      </nav>
    </menu>

    <section id="blockcontent">
        {% block content %}

        {% endblock %}
    </section>
    <footer id="footer">
      Footer goes here
    </footer>
  </div>
</body>
</html>